.title-font{
    font-family: 'Oswald', sans-serif;
    color:crimson;
    font-weight: 200;
}
.thistle{
        color:thistle;
}
.formbg{
    background-color: lightgray;
}
.decorate{
    text-decoration: none;
}